<!-- Separate page for Add/Update reservation -->

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/add_edit.css">
</head>


<body>
#parse("header.vm")

<form method="post" action="/reservations/update/{id}">
    <table class="panel">

        <tr>
            <td colspan="2">
                <div class="title">
                    Update Reservation
                </div>
            </td>
        </tr>

        <!-- display the error message (if set on model) -->
        #if ($errorMsg)
        <tr>
            <td colspan="2">
                <p class="error"> $errorMsg </p>
            </td>
        </tr>
        #end

        <tr>
            <td><label for="name"> Client name (first and last name): </label></td>
            <td><b style="color:blue;" id="name"> $name </b></td>
        </tr>

        <tr>
            <td><label for="startDate"> Start date: </label></td>
            <td>
                #if ($prevState== 'PAID' || $prevState== 'CANCELED' || ($prevState=='ACTIVE' && $daysUntilCurrentDate <
                0))
                <input type="hidden" id="startDate" name="startDate" value="$prevStartDate">
                $prevStartDate
                #else
                <input type="date" id="startDate" name="startDate" value="$prevStartDate"
                       onchange=onchange="checkDate();" required>
                #end
            </td>
        </tr>

        <tr>
            <td><label for="endDate"> End date: </label></td>
            <td>
                #if ($prevState=='PAID' || $prevState=='CANCELED')
                <input type="hidden" id="endDate" name="endDate" value="$prevEndDate">
                $prevEndDate
                #else
                <input type="date" id="endDate" name="endDate" value="$prevEndDate"
                       onchange="checkDate();" required>

                &nbsp; Days left:
                #if ($daysUntilEndDate > 0)
                <b style="color:green;"> $daysUntilEndDate </b>
                #elseif ($daysUntilEndDate == 0)
                <b style="color:orange;"> $daysUntilEndDate </b>
                #else
                <b style="color:red;"> $daysUntilEndDate </b>
                #end
                #end
            </td>
        </tr>

        <tr>
            <td><label for="daysBetween"> Number of accommodation days: </label></td>
            <td><b style="color:blue;" id="daysBetween"> $daysBetween </b></td>
        </tr>

        <tr>
            <td><label for="roomId"> Room: </label></td>
            <td>
                #if ($prevState== 'PAID' || $prevState== 'CANCELED' || ($prevState=='ACTIVE' && $daysUntilCurrentDate <
                0))
                <input type="hidden" id="roomId" name="roomId" value="$prevRoomId">
                $prevRoomId
                #else
                <select id="roomId" name="roomId" onchange="document.getElementById('serverAction').value='refresh';
                    document.getElementById('submitBtn').click();">
                    #foreach ($room in $roomsAvailable)
                    <option value="$room.id" #if($prevRoomId==$room.id) selected #end>
                        number $room.id:
                        #if ($room.description == 'SINGLE') Single
                        #elseif ($room.description == 'TWIN') Twin
                        #elseif ($room.description == 'DOUBLE') Double
                        #elseif ($room.description == 'TRIPLE') Triple
                        #else Suite
                        #end
                        (capacity $room.capacity, standard rate RON$room.rate)
                    </option>
                    #end
                </select>
                #end
            </td>
        </tr>

        <tr>
            <td><label for="totalPrice"> Total price (RON): </label></td>
            <td><b style="color:blue;" id="totalPrice"> $totalPrice </b></td>
        </tr>

        <tr>
            <td><label for="extraInfo"> Other details: </label></td>
            <td><textarea id="extraInfo" name="extraInfo" rows="4" cols="50">$prevExtraInfo</textarea></td>
        </tr>

        <tr>
            <td><label for="state"> State: </label></td>
            <td>
                <select id="state" name="state">
                    #if ($prevState == 'PAID')
                    #foreach ($statePaid in $statePaidOptions)
                    <option value="$statePaid" #if($prevState== $statePaid) selected #end>
                        $statePaid.label
                    </option>
                    #end
                    #else
                    #foreach ($state in $stateOptions)
                    <option value="$state" #if($prevState== $state) selected #end>
                        $state.label
                    </option>
                    #end
                </select>
                #end
            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding-top:15px; text-align: center;">
                <button class="button" type="button" onclick="location.href='/reservations'"> Cancel</button>
                <button class="button" type="submit" id="submitBtn"> Update</button>
            </td>
        </tr>
    </table>

    <!-- hidden form field, not displayed on UI, but sent to server; here set by a JavaScript action, on refresh case, see dueDate input above -->
    <input type="hidden" id="serverAction" name="serverAction" value="">

    <!-- needed to be sent back to server, for update case-->
    <input type="hidden" name="id" value="$!prevId">
    <input type="hidden" name="clientId" value="$!prevClientId">

</form>

<script>
    function checkDate() {
        var StartDate = document.getElementById("startDate").value;
        var EndDate = document.getElementById("endDate").value;
        document.getElementsByName("endDate")[0].setAttribute('min', StartDate);

        if (new Date(EndDate).getTime() < new Date(StartDate).getTime()) {
            alert("The End date for a reservation cannot be older than the Start date of it");
            return false;
        }
        document.getElementById('serverAction').value='refresh';
        document.getElementById('submitBtn').click();
        return true;
    }

</script>

</body>
</html>