<!-- Separate page for room update-->

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/add_edit.css">
</head>


<body>
#parse("header.vm")

<form method="post" action="/rooms/update/{id}">
    <table class="panel">

        <tr>
            <td colspan="2">
                <div class="title">
                    Update Room
                </div>
            </td>
        </tr>

        <!-- display the error message (if set on model) -->
        #if ($errorMsg)
        <tr>
            <td colspan="2">
                <p class="error"> $errorMsg </p>
            </td>
        </tr>
        #end

        <tr>
            <td><label for="id"> Room number: </label></td>
            <td><b style="color:blue;" id="id"> $prevId </b></td>
        </tr>

        <tr>
            <td><label for="roomTypeId"> Room Type: </label></td>
            <td>
                <select id="roomTypeId" name="roomTypeId">
                    #foreach ($type in $allTypes)
                    <option value="$type.id" #if($prevRoomTypeId==$type.id) selected #end>
                        $type.id:
                        #if ($type.description == 'SINGLE') Single
                        #elseif ($type.description == 'TWIN') Twin
                        #elseif ($type.description == 'DOUBLE') Double
                        #elseif ($type.description == 'TRIPLE') Triple
                        #else Suite
                        #end
                        (capacity $type.capacity, standard rate RON$type.rate)
                    </option>
                    #end
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="extraInfo"> Details about room: </label></td>
            <td>
                <textarea id="extraInfo" name="extraInfo" rows="4" cols="50" minlength="10">$prevExtraInfo</textarea>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding-top:15px; text-align: center;">
                <button class="button" type="button" onclick="location.href='/rooms'"> Cancel</button>
                <button class="button" type="submit" id="submitBtn"> Update</button>
            </td>
        </tr>
    </table>

    <!-- hidden form field, not displayed on UI, but sent to server; here set by a JavaScript action, on refresh case -->
    <input type="hidden" id="serverAction" name="serverAction" value="">

    <!-- needed to be sent back to server, for update case-->
    <input type="hidden" name="id" value="$!prevId">

</form>

</body>
</html>