## small page for header, include din all other pages, with parse()

<!-- Load an icon library -->
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<!--Get your own code at fontawesome.com-->

<div class="topnav">

    <a href="/reservations"> <i class='fas fa-concierge-bell' style='font-size:24px;color:#996D56'></i> <b><i>Reservations </i></b>
    </a>
    <a href="/rooms"> <i class='fas fa-bed' style='font-size:24px;color:#996D56'></i> <b><i> Rooms </i></b> </a>
    <a href="/clients"> <i class='fas fa-user-friends' style='font-size:24px;color:#996D56'></i> <b><i> Clients </i></b>
    </a>
    <a href="/reports"> <i class='fas fa-chart-pie' style='font-size:24px;color:#996D56'></i> <b><i> Reports </i></b>
    </a>
    <a href="/main"> <i class='fas fa-hotel' style='font-size:24px;color:#996D56'></i> <b><i> Home </i></b> </a>

</div>
<br>
<br>
<br>
<!-- a text-based logo (generated online at: https://cooltext.com) -->
<img src="/logo.png" width=400> <br>
<br>
