<!-- Separate page for Add/Update reservation -->

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/invoice.css">
    <link rel="stylesheet" type="text/css" href="/print.css">
</head>


<body>
#parse("header.vm")


<table class="panel">

    <tr>
        <td colspan="2">
            <div class="title">
                Invoice
            </div>
        </td>
    </tr>

    <!-- display the error message (if set on model) -->
    #if ($errorMsg)
    <tr>
        <td colspan="2">
            <p class="error"> $errorMsg </p>
        </td>
    </tr>
    #end

    <tr>
        <td> Client name (first and last name):</td>
        <td><b style="color:blue;"> $name </b></td>
    </tr>

    <tr>
        <td> Room number:</td>
        <td><b style="color:blue;"> $roomId </b></td>
    </tr>

    <tr>
        <td> Details about room:</td>
        <td> #if ($description == 'SINGLE') Single
            #elseif ($description == 'TWIN') Twin
            #elseif ($description == 'DOUBLE') Double
            #elseif ($description == 'TRIPLE') Triple
            #else Suite
            #end &nbsp ~ &nbsp $extraInfoRoom
        </td>
    </tr>

    <tr>
        <td> Standard rate (RON):</td>
        <td> $rate</td>
    </tr>

    <tr>
        <td> Days in Cold and Summer Season:</td>
        <td> Summer: $daysSummerSeason,&nbsp Cold: $daysColdSeason</td>
    </tr>

    <tr>
        <td> Days with standard rate:</td>
        <td> $daysStandard</td>
    </tr>

    <tr>
        <td></td>
        <td class="invoice"></td>
    </tr>
    <tr>
        <td></td>
        <td class="invoice" align="center">
            <div id="printableArea">$invoice</div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="invoice"></td>
    </tr>

    <tr>
        <td style="text-align:center;">
            <button class="button" type="button" onclick="location.href='/client/$clientId'"> Back to client
                reservations
            </button>
        </td>
        <td style="text-align:center;">
            <button class="button" type="button" onclick="printDiv('printableArea')" value="Print Invoice"> Print
                Invoice
            </button>
        </td>
    </tr>
</table>

<div class="info">
    <p>Details about start and end of Summer and Cold Seasons:</p>
    <p>&emsp; - Summer Season: from 21st day of June until 23rd day of September</p>
    <p>&emsp; - Cold Season: from 1st of November until 1st day of March</p> <br>
    <p>Details about rate in Summer and Cold Seasons:</p>
    <p>&emsp; - Summer Season: 20% extra for all types of room with garden view and 35% extra for all types of room with
        sea view </p>
    <p>&emsp; - Cold Season: 10% discount for all types of room</p> <br>
</div>

<!-- hidden form field, not displayed on UI, but sent to server; here set by a JavaScript action, on refresh case, see dueDate input above -->
<input type="hidden" id="serverAction" name="serverAction" value="">

<!-- needed to be sent back to server, for update case-->
<input type="hidden" name="id" value="$!prevId">

<script>
    function printDiv(divName) {
         var printContents = document.getElementById(divName).innerHTML;
         var originalContents = document.body.innerHTML;

         document.body.innerHTML = printContents;

         window.print();

         document.body.innerHTML = originalContents;
    }

</script>

</body>
</html>