th, td {
  padding: 8px;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.12em solid white;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-weight:300;
 font-size:16px;
 color:white;
 background-color:rgb(51, 26, 0,0.3);
 text-align:center;
 transition: all 0.2s;
}
.button:hover{
 color:white;
 background-color:rgb(0, 0, 153,0.8);
 font-weight:bold;
}
@media all and (max-width:30em){
 button {
 display:block;
 margin:0.4em auto;
 }
}

textarea {
  font-size: large;
  color: blue;
}

select {
  font-size: 17px;
  display: inline-block;
  width: 473px;
  color: white;
  border: none;
  background-color: rgba(45,22,6,0.6);
  position: relative;
  cursor: pointer;
}

.select.decorated option:hover{
 color:white;
 background-color:rgb(0, 26, 102,0.8);
 font-weight:bold;
}

input[type=text] {
  width: 473px;
  color: blue;
  font-size: 16px;
}

input[type=email] {
  width: 473px;
  color: blue;
  font-size: 16px;
}

input[type=date] {
  width: 473px;
  color: blue;
  font-size: 16px;
  font-weight:bold;
  background-color: rgb(255, 255, 255,0.7);
  border:none;
}

topnav {
  font-size: large;
  overflow: hidden;
  background-color: #191970;
}

.topnav a {
  float: left;
  font-size: large;
  color: #708090;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  float: right;
}

.topnav a:hover {
  font-weight: bold;
  font-size: 22px;
  font-size: large;
  background-color: #191970;
  color: white;
  float: right;
}

.topnav a.active {
  font-size: large;
  font-size: 22px;
  font-weight: bold;
  background-color: #F8F8FF;
  color: #2F4F4F;
  float: right;
}