body {
    background-color: #faf4e8;
    background-image: url('img_10.png');

}

.panel {
    background-color: rgba(218, 213, 213,0.6);
    padding: 15px 15px 15px 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

input[type=text] {
  width: 473px;
  color: blue;
  font-size: 16px;
}

.title {
    color: #000080;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;

}

.subtitle {
    color: #000080;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    padding: 0px;

}

.error {
    color: red;
}

textarea {
  font-size: large;
  color: blue;
}

button {
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.10em solid white;
 margin:0 0.3em 0.3em 0;
 border-radius:0.11em;
 box-sizing: border-box;
 text-decoration:none;
 font-weight:300;
 font-size:15px;
 color:white;
 background-color:rgb(51, 26, 0,0.3);
 text-align:center;
 transition: all 0.2s;
}
.button:hover{
 color:white;
 background-color:rgb(0, 0, 153,0.8);
 font-weight:bold;
}
@media all and (max-width:30em){
 button {
 display:block;
 margin:0.4em auto;
 }
}

select {
  font-size: 15px;
  display: inline-block;
  width: 200px;
  color: #000099;
  border: none;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.select.decorated option:hover{
 color:white;
 background-color:rgb(0, 26, 102,0.8);
 font-weight:bold;
}

input[type=date] {
  width: 200px;
  color: #000099;
  font-size: 16px;
  font-weight:bold;
  background-color: rgb(255, 255, 255,0.7);
  border:none;
}

table {
  border-collapse: collapse;
  width: 90%;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  border-top: 3px solid #CD853F;
  border-bottom: 2px solid #8B4513;
}

th, td {
  padding: 8px;
  text-align: left;
  font-size: large;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgba(51, 26, 0,0.2);}

topnav {
  font-size: large;
  font-size: 22px;
  overflow: hidden;
  background-color: #191970;
  float: right;
}

.topnav a {
  float: left;
  font-size: large;
  color: #708090;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  float: right;
}

.topnav a:hover {
  font-weight: bold;
  font-size: 22px;
  font-size: large;
  background-color: #191970;
  color: white;
  float: right;
}

.topnav a.active {
  font-size: large;
  font-size: 22px;
  font-weight: bold;
  background-color: #F8F8FF;
  color: #2F4F4F;
  float: right;
}