.invoice {
    background-color: rgba(189, 203, 245,0.3);
    padding: 15px 15px 15px 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: large;

}

.panel {
    background-color: rgba(218, 213, 213,0.6);
    padding: 15px 15px 15px 15px;
    width: 50%;
    float: left;
    margin-left: 80px;

}

.info {
    background-color: rgba(218, 213, 213,0.6);
    padding: 40px 15px 15px 15px;
    width: 25%;
    float: right;
    margin-right: 40px;
    font-style: italic;
    font-size: large;
    text-align: left;
}

body {
    background-color: #faf4e8;
    background-image: url('img_10.png');

}

.title {
    color: #000080;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;

}

.error {
    color: red;
}

th, td {
  padding: 8px;
  font-size: large;
  text-align: left;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

button {
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.12em solid white;
 margin: 15px;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-weight:300;
 font-size:16px;
 color:white;
 background-color:rgb(51, 26, 0,0.3);
 text-align:center;
 transition: all 0.2s;
}
.button:hover{
 color:white;
 background-color:rgb(0, 0, 153,0.8);
 font-weight:bold;
}
@media all and (max-width:30em){
 button {
 display:block;
 margin:0.4em auto;
 }
}

table {
  border-collapse: collapse;
  width: 90%;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  border-top: 3px solid #CD853F;
  border-bottom: 2px solid #8B4513;
}

topnav {
  font-size: large;
  font-size: 22px;
  overflow: hidden;
  background-color: #191970;
  float: right;
}

.topnav a {
  float: left;
  font-size: large;
  color: #708090;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  float: right;
}

.topnav a:hover {
  font-size: large;
  font-size: 22px;
  background-color: #191970;
  color: white;
  float: right;
}

.topnav a.active {
  font-size: large;
  font-size: 22px;
  font-weight: bold;
  background-color: #F8F8FF;
  color: #2F4F4F;
  float: right;
}

@media print
{
   @page
   {
    size: auto;
    margin: 10%;
    align: center;
  }
}