table {
  border-collapse: collapse;
  width: 90%;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  border-top: 3px solid #8B4513;
  border-bottom: 2px solid #8B4513;
}

.table1 {
  border-collapse: collapse;
  width: 90%;
  font-size: large;
  float: center;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  border-top: 3px solid #8B4513;
  border-bottom: 2px solid #8B4513;
  background-color: rgba(218, 213, 213,0.6);
}

body {
    background-color: #faf4e8;
    background-image: url('img_10.png');

}

.info {
    background-color: rgba(218, 213, 213,0.6);
    padding: 15px 15px 15px 15px;
    width: 90%;
    float: center;
    margin-right: 60px;
    font-style: italic;
    font-size: large;
    text-align: left;
}

.div1 {
    background-color: rgba(255, 255, 255,0.5);
    padding: 15px 15px 15px 15px;
    width: 30%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: large;
    text-align: left;
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

th, td {
  padding: 8px;
  text-align: left;
  font-size: large;
  border-bottom: 1px solid #ddd;
}

.topnav {
  overflow: hidden;
  font-size: large;
  font-size: 22px;
  background-color: rgba(204, 209, 228,0.4);
}

.topnav a {
  color: #222B88;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  float: right;
}

.topnav a:hover {
  font-weight: bold;
  font-size: large;
  font-size: 22px;
  background-color: #191970;
  color: white;
  float: right;
}

.topnav a.active {
  font-size: large;
  font-weight: bold;
  background-color: #D2B48C;
  color: #00008B;
  font-size: 22px;
}

tr:hover {background-color: rgba(51, 26, 0,0.2);}

input[type=date] {
  width: 200px;
  color: #000099;
  font-size: 16px;
  font-weight:bold;
  background-color: rgb(255, 255, 255,0.7);
  border:none;
}

.img:hover {
transform: scale(1.8);
}